<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="primary"
      pullingIcon="lines"
      refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list mode="ios" inset="true" lines="full">
    <ion-item button *ngFor="let servicio of servicios" (click)="detail(servicio.IDServicio)">
      <ion-label text-wrap>{{servicio.Nombre}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>