<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="/menu/tabs/tabs/promociones" slot="start">
    </ion-back-button>
    <ion-title>Promoción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Promo -->
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title text-wrap>{{promo?.NombrePromocion}}</ion-card-title>
      <ion-card-subtitle>{{promo?.Detalle}}</ion-card-subtitle>
      <ion-label>Vence el: {{promo?.FechaExpiracion}}</ion-label>
    </ion-card-header>
    <!-- Servicios -->
    <ion-card-content>
      <ion-list mode="ios" inset="true" lines="full">
        <ion-item *ngFor="let servicio of servicios">
          <ion-label text-wrap>{{servicio?.NombreServicio}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-footer>
      <ion-label text-wrap>Ahorro Total: {{Ahorro}}</ion-label>
    </ion-footer>
  </ion-card>

</ion-content>