<ion-split-pane contentId="content" when = "md" mode="md">
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menú Principal
        </ion-title>
      </ion-toolbar>
        <ion-content [fullscreen] = "true" scroll-y="false">
          <ion-list>
            <ion-menu-button auto-hide="false" *ngFor="let p of pages">
              <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-button>
            <ion-menu-button auto-hide="false" routerLink="/login" routerDirection="root">
              <ion-icon name="log-out" slot="start"></ion-icon>
              Logout
            </ion-menu-button>
          </ion-list>
        </ion-content>
    </ion-header>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
