<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="Email"></ion-input>
  </ion-item>
  <p></p>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type = "Password"></ion-input>
  </ion-item>
  <ion-button (click)="toRegister()"size = "small" fill="clear" style = "text-transform:lowercase; color: blue; position:absolute; left: 77px; right: 75px; bottom:12%" position = "floating">
    Or sign-up for free
  </ion-button>
  <ion-button (click)="login()" shape="round" color = "primary" expand = "block">Log In</ion-button>
</ion-content>

